<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Project</title>
</head>

<body>
    <main>
        <div>
            <h1>Create a new project</h1>

            <!-- Form with CSRF token and other fields -->
            <form method="post" action="{% url 'create_project' %}">
                {% csrf_token %}

                <!-- Add your project form fields here -->
                <label for="name">Project Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>

                <label for="owner">Owner:</label>
                <select id="owner" name="owner" required>
                    <!-- Populate the select options with user choices -->
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>

                <!-- Add any additional form fields as needed -->

                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>

</html>
