<!-- projects/templates/projects/project_list.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Your head content here -->
</head>

<body>
    <main>
        <h1>My Projects</h1>

        <!-- Link to Create Project -->
        <p><a href="{% url 'create_project' %}">Create a new project</a></p>

        <table border="1">
            <thead>
                <tr>
                    <th>Project Title</th>
                    <th>Total Tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td><a href="{% url 'show_project' id=project.id %}">{{ project.name }}</a></td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
